body{
    background: #000000;
}

#anima-div{
    background-image: url(../imgs/sprite.png);
    width: 150px;
    height: 150px;
    animation: anima-sprite 1.0s steps(3) infinite;
}

@keyframes anima-sprite{
    form{background-position: 0px;}
    to{background-position: -2000px;}
}